<div class="login-card">
    <label for="username">Username</label>
    <div class="input-container">
        
        <input type="text" id="username">
    </div>
    <label for="password">Password</label>
    <div class="input-container">
       
        <input type="password" id="password">
    </div>
    <div class="button-container">
        <button>Login</button>
    </div>
    
    <div class="signup-container">
        <p>Don't have any account?</p>
        <button>Sign Up</button>
    </div>
    
</div>