<div class="container">
    <!-- <div class="logo-container">
        <img src="assets/images/snapkartlogo.png" alt="">
    </div> -->
    <div class="card-container">
        <div class="img-container">
            <img src="assets/images/snapkartlogo.png" alt="">
            <!-- <img src="/assets/images/login-bg.jpg" alt=""> -->
            <!-- <div class="random"></div> -->
        </div>
        
        <div class="LOGIN-heading">
            <h1>Login</h1>
        </div>
        <div class="error-container" *ngIf="loginError!==''">{{loginError}}</div>
        <div class="input-container">
            <input type="text" placeholder="Enter Username" [(ngModel)]="userdata.username">
            <input type="password" id="" placeholder="Enter Password" [(ngModel)]="userdata.password">
        </div>
        <div class="btn-container">
            <button (click)="onLogin()">LOGIN</button>
        </div>
        <div class="btn-container">
            <p>Don't have an account?</p>
            <button class="sign-up-btn" (click)="redirectToSignup()">SIGN UP</button>
        </div>
    </div>
</div>